<html>
  <head>
    <title>RScons User Guide - Version <%= Rscons::VERSION %></title>
    <style>
      body {
        max-width: 140ex;
      }
    </style>
  </head>
  <body>
    <%= body %>
  </body>
</html>
