<html>
  <head>
    <title>RScons User Guide - Version <%= Rscons::VERSION %></title>
    <style>
      body {
        max-width: 140ex;
      }
      .ruby_code .normal {}
      .ruby_code .comment { color: #005; font-style: italic; }
      .ruby_code .keyword { color: #A00; font-weight: bold; }
      .ruby_code .method { color: #077; }
      .ruby_code .class { color: #074; }
      .ruby_code .module { color: #050; }
      .ruby_code .punct { color: #447; font-weight: bold; }
      .ruby_code .symbol { color: #099; }
      .ruby_code .string { color: #090; }
      .ruby_code .char { color: #F07; }
      .ruby_code .ident { color: #004; }
      .ruby_code .constant { color: #07F; }
      .ruby_code .regex { color: #B66; }
      .ruby_code .number { color: #D55; }
      .ruby_code .attribute { color: #377; }
      .ruby_code .global { color: #3B7; }
      .ruby_code .expr { color: #227; }
    </style>
  </head>
  <body>
    <%= body %>
  </body>
</html>
